@import url('https://fonts.googleapis.com/css2?family=Chango&display=swap');

ul {
  list-style-type: none;
}
button {
  border: none;
  background: none;

}
p {
  font-family: "Chango", cursive;
}

.todo {
  position: relative;
  margin: 8% auto;
  padding-bottom: 0.5em;
  width: 30%;
  background: pink;
  border-radius: 15px;
}
.title {
  position: relative;
  top: 10px;
  text-align: center;
  font-family: "Chango", cursive;
  font-size: 4vw;
  margin-bottom: 0.5em;
  color: white;
}

.add-field {
  position: relative;
  margin: auto;
  width: 70%;
  background: white;
  border-radius: 30px;
}
.add-input {
  position: relative;
  width: 80%;
  left: 10px;
  font-size: 1.5rem;
  border: none;
  border-radius: 30px;
}
.add-input:focus {
  outline: none;
}
.add-button {
  position: absolute;
  right: 5px;
  font-size: 1.5rem;
  border-radius: 30px;
}

.list-field {
  margin: auto;
  width: 70%;
  background: powderblue;
  border-radius: 30px;
}
.task-button {
  display: inline-block;
}
.done {
  color: darkgrey;
  text-decoration: line-through;
}